byakuroku =     #A8D8B9
ichigo =        #B5495B
kamenozoki =    #A5DEE4
kurotsurubami = #0B1013
kikujin =       #B1B479
nadeshiko =     #DC9FB4
sakura =        #FEDFE1
shironezumi =   #BDC0BA
sumi =          #1C1C1C
suoh =          #8E354A
urayanagi =     #B5CAA0
