aku =           #877F6C
asagi =         #33A6B8
byakuroku =     #A8D8B9
hanaasagi =     #1E88A8
ichigo =        #B5495B
ikkonzome =     #F4A7B9
kamenozoki =    #A5DEE4
kurotsurubami = #0B1013
kikujin =       #B1B479
nadeshiko =     #DC9FB4
nakabeni =      #DB4D6D
rikyucha =      #897D55
sakura =        #FEDFE1
shironezumi =   #BDC0BA
sumi =          #1C1C1C
suoh =          #8E354A
urayanagi =     #B5CAA0
